/* navbar */
:root {
  background: #f6f5f1;
  --main-bg-color: #f6f5f1;
  --main-text-color: #262626;
  --eggshell-color: #f6f5f1;
  --accent-color-teal: #037E8C;
  --accent-color-salmon: #D9A296;
  --accent-color-orange: #EEBB4D;
  --accent-color-green: #96BB7C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbarNavDropdown {
  justify-content:flex-end
}
h1, h2, h3, h4 {
  color: var(--accent-color-teal) !important;
}
h4{
  text-align: center;
  padding-top: 15px
}
.page-container {
  background-color: var(--main-bg-color);
}

.navbar-dark {
  /* background-color: ; */
  /* padding:0px */
}

.nav-item.active .nav-link {
  color: var(--accent-color-teal) !important;
}

.nav-item a {
  color: grey
}
.navbar-light .navbar-brand {
  color: var(--accent-color-teal) !important;
  padding: 10px;
}
.navbar-item {
  padding-left: 50px;
}
.navbar-nav, .dropdown-menu {
  padding-left: 20px;
  border: none;
}

.row{
  margin:auto
}
.content-c {
  margin:50px;
}
.comp-img a img {
  border: 2px solid transparent
}
.comp-img a:hover img, .small-image.selected, a:hover .small-image{
  border:2px solid var(--accent-color-salmon);
  border-radius: 5px;
}

.main-pane, .side-pane{
  background-color: white;
  /* height:70% */
  padding:30px;
  margin: 40px 20px
}

.side-row{
  padding-bottom:10px
}

.main-image {
  width: 50%;
  min-width: 400px;
  float: left;
}

.small-image{
  width:100%;
  margin-top:10px;
  border:2px solid transparent;
}

.small-image.selected{
  border:2px solid var(--accent-color-salmon);
  border-radius: 5px;
}

a:hover .small-image {
  border: 2px solid var(--accent-color-salmon);
}

table {
  margin: auto;
  text-align: left !important;;
  /* overflow-x: scroll; */
}

table td, table th {
  padding: 0.5rem !important;
  text-align: left !important;;
  font-size: 12px
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--accent-color-salmon);
  color: white;
  
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

ul li {
  margin-left: 0px
}



@media (max-width:991px) {
  :root {
    background: white
  }
  .page-container {
    background-color:white;
  }
  .navbar-light.bg-light {
    background-color: var(--accent-color-teal)!important;
  }

  .navbar-light .navbar-brand {
    color: white !important;
  }
  .navbar-light .navbar-toggler {
    /* color:red !important; */
    border-color: rgba(255, 255, 255, 0.5) !important;
  }

  .navbar-light .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

  .nav-item.active .nav-link {
    color: white !important;
    text-decoration: none;
  }

  .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.25)!important;
  }

  .nav-item a:hover{
    text-decoration: underline;
  }

  .main-pane, .side-pane {
    margin:40px 0px;
    padding: 30px !important;
    height: auto;
  }

  .side-pane {
    margin-top: 0px;
  }

  .main-pane table {
    /* height: 75% !important; */
    overflow: auto;
  }

  .main-image {
    min-width: 400px
  }
}